{% extends 'base.html' %}

{% block content %}
<h1>Farmacias y sus catálogos</h1>

<ul>
    {% for farmacia in farmacias %}
        <li>
            <h3>{{ farmacia.nombre }}</h3>
            <p>Ubicación: {{ farmacia.direccion }}</p>
            <p><strong>Laboratorios asociados:</strong></p>
            <ul>
                {% for lab in farmacia.laboratorios.all %}
                    <li>{{ lab.nombre }} ({{ lab.direccion }})</li>
                {% empty %}
                    <li>No hay laboratorios asociados.</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

{% endblock %}